*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    overflow-x:hidden;
}

.header{
    border:2px solid blue;
    border-radius:45px;
    text-align:center;
    font-size:2em;
    padding: .5em;
    margin:0.9rem;
    width:25%;
}

.sketchSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5rem;
}

#buttonContainer{
    border: 2px solid green;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width:10rem;
    height:20rem;
}

#buttonContainer button{
    padding:0.5rem;
    width:75%;
}

#sketchArea{
    border: 2px solid rgb(17, 0, 255);
    width: 640px;
    height:640px;
    display:flex;
    /* justify-content: space-evenly; */
    /* align-items:center; */
    flex-wrap:wrap;
}

.sketchBlock{
    border:1px solid red;
    /*background-color: gray; */
    /* display:inline-block; */
    box-sizing:border-box;
    /* max-width:35rem;
    max-height:35rem;
    min-width:10px;
    min-height:10px; */
}

.footerSection{
    font-size:1.5em;
    text-align:center;
    background-color:rgb(196, 76, 76);
    width:100%;
    margin-top:0.5rem;
    padding:0.5rem;
}

/*sliderSection*/
.sliderContainer .slider{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

.sliderContainer{
    text-align: center;
    height: 80px;
    width: 380px;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 0 65px 0 45px;
}

.sliderContainer .slider input{
    -webkit-appearance:none;
    height:3px;
    width:100%;
    background-color:blueviolet;
    border-radius:5px;
    border:none;
}

.sliderContainer .slider .sliderLabel{
    position:absolute;
    font-size:18px;
    font-weight: 600;
    color:chocolate;
}

.minNum{
    left:-22px;
}

.maxNum{
    right:-43px;
}

.sliderContainer .sliderNum{
    position:relative;
    width:100%;
}

.sliderContainer .sliderNum span{
    position:absolute;
    height: 45px;
    width:45px;
    color:antiquewhite;
    font-weight:500;
    top:-40px;
    transform:translateX(-50%) scale(0);
    transform-origin:bottom;
    transition: transform 0.3s ease-in-out;
    line-height:55px;
    z-index:2;
}

.sliderContainer .sliderNum span.show{
    transform:translateX(-50%) scale(1);
}

.sliderContainer .sliderNum span::after{
    position:absolute;
    content:"";
    height: 45px;
    width:45px;
    background-color:blueviolet;
    left:50%;
    transform:translateX(-50%) rotate(45deg);
    z-index:-1;
    border:2px solid gray;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
}

.sliderContainer .slider input::-webkit-slider-thumb{
    -webkit-appearance:none;
    height:20px;
    width:20px;
    background-color:blueviolet;
    border-radius:50%;
    border:2px solid gray;
    cursor:pointer;
}