*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    overflow-x:hidden;
    background-color:#dbd3f5;
}

.header{
    border:2px solid #ddd;
    border-radius:45px;
    text-align:center;
    font-size:2em;
    /* padding: .5em; */
    margin:0.9rem;
    width:25%;
}

.sketchSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#9B90DE;
    padding: 2rem;
    border-radius:15%;
}

#buttonContainer{
    /* border: 2px solid #ddd; */
    background-color:#664AFF;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width:10rem;
    height:20rem;
}

#buttonContainer button{
    padding:0.5rem;
    width:75%;
    transform:translateY(-70%);
}

#colorPicker{
    -webkit-appearance: none;
    position:relative;
    top:-45px;
    height:75px;
    width:75px;
    border:none; /*makes the box out line disappear*/
    background:none;
    margin:0;
}

#colorPicker::-webkit-color-swatch{
    border:3px solid #ddd;
    border-radius:50%;
}


#colorPicker::-webkit-color-swatch:hover{
    border:3px solid #ddd;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.09) rotate(45deg);
    border-radius: 10px;
    box-shadow: 0 0 15px 5px #ddd; 
                /* 10px 10px red, 
                15px 15px green; */
}

#sketchArea{
    border: 2px solid rgb(17, 0, 255);
    width: 640px;
    height:640px;
    display:flex;
    background-color:white;
    flex-wrap:wrap;
    margin:0.5em 2rem 0.5rem 5rem;
}

.sketchBlock{
    border:1px dotted rgba(0,0,0,0.1);
    /*background-color: gray; */
    /* display:inline-block; */
    box-sizing:border-box;
    /* max-width:35rem;
    max-height:35rem;
    min-width:10px;
    min-height:10px; */
}

.footerSection{
    font-size:1.5em;
    text-align:center;
    background-color:#eb9565;
    width:100%;
    margin-top:0.5rem;
    padding:0.5rem;
}

/*sliderSection*/
.sliderContainer .slider{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

.sliderContainer{
    text-align: center;
    /* height: 80px;
    width: 380px; */
    height: 380px;
    width: 80px;
    background-color: #664AFF;
    border-radius: 30px;
    /* padding: 0 65px 0 45px; */
    /* padding:45px 0 45px 0; */
}

.sliderContainer .slider #inputSlider{
    -webkit-appearance:none;
    height:5px;
    width:200px;
    background-color:#ddd;
    border-radius:5px;
    border:none;
    transform: rotate(270deg); /*make the input vertical from high to low */
}

.sliderContainer .slider .sliderLabel{
    position:absolute;
    font-size:20px;
    font-weight: 600;
    color:#ddd;
}

.minNum{
    /* left:-22px; */
    bottom: 50px;
}

.maxNum{
    /* right:-43px; */
    top: 50px;
}

.sliderContainer .sliderNum{
    position:relative;
    width:100%;
}

.sliderContainer .sliderNum span{
    position:absolute;
    height: 45px;
    width:45px;
    color:#ddd;
    font-weight:500;
    font-size:20px;
    right:-70px;
    transform:translateX(-50%) scale(0);
    transform-origin:bottom;
    transition: transform 0.3s ease-in-out;
    /* line-height:55px; */
    line-height:50px;
    z-index:2;
}

.sliderContainer .sliderNum span.show{
    transform:translateX(-50%) scale(1);
}

.sliderContainer .sliderNum span::after{
    position:absolute;
    content:"";
    height: 45px;
    width:45px;
    background-color:blueviolet;
    left:50%;
    transform:translateX(-50%) rotate(45deg);
    z-index:-1;
    border:2px solid blue;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
}

.sliderContainer .slider input::-webkit-slider-thumb{
    -webkit-appearance:none;
    height:20px;
    width:20px;
    background-color:blueviolet;
    border-radius:50%;
    border:2px solid #ddd;
    cursor:pointer;
}